/* Monokai theme, based on the Monokai Textmate theme
 * Color char:
 * pink - f92672
 * green - a6e22e
 * light blue - 66d9ef
 * yellow - e6db74
 * dark brown - 272822
 * dark grey - 49483e
 * light grey - 75715e
 * orange - fd971f 
 */

html {
  font-family: 'DejaVu Sans Mono';
  font-size: 9pt;
  background-color: #272822;
  color: #e6db74;
  word-wrap: break-word;
  margin: 0;
  padding: 3px 4px 10px 4px;
}

body[type=input]
{
    border-top: 2px solid red;
}

body { margin: 0; padding: 0; }

/* the html tag has these classes and attributes too */
body.normal {}
body.console {}
body[type=channel] {}
body[type=talk] {}
body[type=console] {}

a {}
.message a:link {
/*    background-color: #2c2d27;*/
    background-color: #31322c;
    color: #fd971f;
    text-decoration: none;
    padding: 2px;
    border-radius: 3px;
}
.message a:hover {
/*  background-color: #49483e;*/
/*  background-color: #3b3c36;*/
  text-shadow: 0 1px 2px #272822;
  -webkit-box-shadow: 0 1px 1px #000;
}

/* lines */
.line {
/*    margin: 0 -4px;
    padding: 0 4px 1px 4px;*/
    line-height: 1.4em;
}
.line[alternate=even] {}
.line[alternate=odd] {}
.line[type=action] .sender:before {
  content: "∞ ";
  white-space: nowrap;
}

.line[highlight=true] {
  background-color: #272822;
}

.line p
{
    margin: 0.5em;
}

.url { word-break: break-all; }
.address { text-decoration: underline; word-break: break-all; }
.highlight { color: #f92672; font-weight: normal; }
.time { color: #49483e; vertical-align: top; } /* grey: 49483e red: f92672 */
.place { color: #ae81ff; } /* ae81ff */

/* topic */
div[type=topic] p span.message {
    margin-left: 7.5em;
}

body[type=talk] #topic_bar, body[type=server] #topic_bar {
    display: none;
}

#topic_bar {
  top: 0;
  left: 0;
  right: 0;
  color: #ccc;
  z-index: 400;
  opacity: 0.85;
  font-size: 10px;
  position: fixed;
  background: #4e4d43;
  padding: 2px 0.5em 3px;
  border-bottom: 1px solid #535248; 
  line-height: 1.25em;
  -webkit-box-shadow: 0 1px 5px #49483e; /* 31322c */
  text-align: center;
}

#topic_bar a {
  color: #FD971F;
  border-color: #00e;
  background-color: none;
}

#topic_bar a:hover {
  color: #dd455e;
/*  border-style: dashed;
  border-color: ;
  border-size: 1px;*/
}

.sender {
    width: 151px;
	display: inline-block;
	margin-right: -16em;
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-indent: 2em;
	vertical-align: top;
}


body div#body_home p {
	clear: both;
	position: relative;
}

p span.message {
	clear: none;
	margin-left: 16em;
	text-indent: 0px;
/*  word-break: break-all;*/
	display: inline-block;
}

.message, .time, .sender {
    text-shadow: 0 0 2px #000;
}

/* Remember Line */

div[id=mark] {
	position: relative;
	z-index: 295;
	border-top: 1px solid #1d1e18;
	border-bottom: 1px solid #31322c;
/*  -webkit-box-shadow: 0 0 5px #535248;*/
}

/* nickname for text messages */
.sender[type=myself] { color: #66d9ef; }
.sender[type=normal] { color: #a6e22e; }
.sender[type=normal][colornumber='0'] {}
.sender[type=normal][colornumber='1'] {}
.sender[type=normal][colornumber='2'] {}
.sender[type=normal][colornumber='3'] {}
.sender[type=normal][colornumber='4'] {}
.sender[type=normal][colornumber='5'] {}
.sender[type=normal][colornumber='6'] {}
.sender[type=normal][colornumber='7'] {}
.sender[type=normal][colornumber='8'] {}
.sender[type=normal][colornumber='9'] {}
.sender[type=normal][colornumber='10'] {}
.sender[type=normal][colornumber='11'] {}
.sender[type=normal][colornumber='12'] {}
.sender[type=normal][colornumber='13'] {}
.sender[type=normal][colornumber='14'] {}
.sender[type=normal][colornumber='15'] {}

/* message body */
.message[type=system] { color: #75715e; }
.message[type=error] { color: #f00; font-weight: bold; }
.message[type=reply] { color: #088; }
.message[type=error_reply] { color: #f00; }
.message[type=dcc_send_send] { color: #088; }
.message[type=dcc_send_receive] { color: #00c; }
.message[type=privmsg] {}
.message[type=notice] { color: #888; }
.message[type=action] { color: #75715e; }
.message[type=join] { color: #75715e; }
.message[type=part] { color: #75715e; }
.message[type=kick] { color: #75715e; }
.message[type=quit] { color: #75715e; }
.message[type=kill] { color: #75715e; }
.message[type=nick] { color: #75715e; margin-left: 13em; content: "∞ "; white-space: nowrap; }
.message[type=mode] { color: #75715e; }
.message[type=topic] { color: #75715e; }
.message[type=invite] { color: #75715e; }
.message[type=wallops] { color: #75715e; }
.message[type=debug_send] { color: #aaa; }
.message[type=debug_receive] { color: #444; }

/* mIRC color effects */
.effect[color-number='0'] {}
.effect[color-number='1'] {}
.effect[color-number='2'] {}
.effect[color-number='3'] {}
.effect[color-number='4'] {}
.effect[color-number='5'] {}
.effect[color-number='6'] {}
.effect[color-number='7'] {}
.effect[color-number='8'] {}
.effect[color-number='9'] {}
.effect[color-number='10'] {}
.effect[color-number='11'] {}
.effect[color-number='12'] {}
.effect[color-number='13'] {}
.effect[color-number='14'] {}
.effect[color-number='15'] {}
.effect[bgcolor-number='0'] {}
.effect[bgcolor-number='1'] {}
.effect[bgcolor-number='2'] {}
.effect[bgcolor-number='3'] {}
.effect[bgcolor-number='4'] {}
.effect[bgcolor-number='5'] {}
.effect[bgcolor-number='6'] {}
.effect[bgcolor-number='7'] {}
.effect[bgcolor-number='8'] {}
.effect[bgcolor-number='9'] {}
.effect[bgcolor-number='10'] {}
.effect[bgcolor-number='11'] {}
.effect[bgcolor-number='12'] {}
.effect[bgcolor-number='13'] {}
.effect[bgcolor-number='14'] {}
.effect[bgcolor-number='15'] {}
